__pycache__/
*.pyc
*.pyo
venv/
.env
.vscode/
*.log
models/
checkpoints/
modelos_treinados/
estatisticas/
fase-2/jogo_da_velha/estatisticas/
fase-2/jogo_da_velha/estatisticas_jogador/
fase-2/jogo_da_velha/graficos/
fase-2/jogo_da_velha/modelos/